#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#map {
  height: 100%;
}

.btn {
  margin-right: 5px;
}

.btn-geo {
  position: absolute;
  bottom: 24px;
  right: 60px;
}

.btn-geo-2 {
  position: absolute;
  top: 70px;
  right: 15px;
  height: 32px;
  z-index: 1;
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}
