.page-header {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(235, 237, 240);
}

.logo {
  width: 3em;
  height: 3em;
  background-image: url("../../../img/PNG/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0 auto;
}

.navigation-list li {
  margin-left: 5px;
}
